# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next

# Production
/build
/dist

# Misc
.DS_Store
*.pem
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.vscode
.idea
*.swp
*.swo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.turbo/

# IDE
*.sublime-workspace
*.sublime-project

# OS
Thumbs.db
